body {
    box-sizing: border-box;
  }
  
  *, *::before, *::after {
    box-sizing: inherit;
  }
  html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  .transition {
    transition-property: color, background-color;
  }
  
  .duration-300 {
    transition-duration: 300000ms;
  }
  
  .ease-in-out {
    transition-timing-function: ease-in-out;
  }
  
  .text-white {
    color: #ffffff;
  }
  
  .font-semibold {
    font-weight: 600;
  }
  